*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:#111;
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero-content h1{
    font-size:48px;
    margin-bottom:10px;
}

.hero-content h2{
    color:#007bff;
    margin-bottom:20px;
}

.hero-content p{
    max-width:600px;
    margin:auto;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    background:#007bff;
    color:white;
    padding:12px 20px;
    text-decoration:none;
    border-radius:5px;
    margin:5px;
}
.about,
.skills,
.projects{
    padding:80px 10%;
    text-align:center;
}

.about p{
    max-width:800px;
    margin:auto;
    line-height:1.8;
}

.skill-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
    margin-top:30px;
}

.skill{
    background:#007bff;
    color:white;
    padding:12px 20px;
    border-radius:20px;
}

.project-card{
    background:white;
    padding:25px;
    margin:20px auto;
    max-width:800px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}
.education,
.achievements,
.contact{
    padding:80px 10%;
    text-align:center;
}

.edu-card,
.achievement-card{
    background:white;
    max-width:800px;
    margin:auto;
    padding:25px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.social-links a{
    margin:10px;
    text-decoration:none;
    color:#007bff;
}

.dark-mode{
    background:#121212;
    color:white;
}

.dark-mode .project-card,
.dark-mode .edu-card,
.dark-mode .achievement-card{
    background:#1e1e1e;
    color:white;
}